.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.grid-text-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'text-content img'
    ;
    grid-gap: var(--gap);
}

.title-text-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.img-div {
    display: flex;
    align-items: center;
    justify-items: center;
}

.img-div img {
    max-width: 100%;
    height: auto;
    display: block;
}

.center-title-text {
    text-align: center;
    max-width: 74rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grid-template {
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

    counter-reset: grid-counter;
}

.grid-template-header {
    position: relative;
    padding: 3rem;
}

.grid-template-header h6 {
    padding-left: 4rem;
}

.grid-template-header h6::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);

    position: absolute;
    font-size: 8rem;
    font-style: italic;

    left: 0;
    bottom: 0;

    rotate: 2deg;
}