@media (max-width:1000px) {
    .grid-text-image {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        'text-content'
        'img';
        gap: 0;
    }

    .img-div {
        display: flex;
        align-items: start;
        justify-items: center;
    }
}