@media (max-width:1000px) {
    .grid-text-image {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media (max-width: 860px) {
    .grid-template {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

}