.sections section:nth-child(2n - 1) {
    background-image: url("../img/main-bg.svg");
    background-size: cover;
    background-position: center center;
    color: var(--white);
    min-height: 100vh;

    ::selection{
        color: var(--black);
        background-color: var(--white);
    }
}

.sections section:nth-child(2n) {
    background-color: white;
    color: var(--primary-color);
    min-height: 100vh;

    ::selection{
        color: var(--white);
        background-color: var(--black);
    }
}

#home .img-div {
    grid-area: img;
}

#home .title-text-div {
    grid-area: text-content;
}

#grid-one .main-content header h1 {
    margin-bottom: 1.2rem;
}

#grid-one .main-content

