@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
    --primary-color: rgb(19, 115, 141);
    --primary-color-darker: rgb(36, 190, 225);
    --second-color-darker: rgb(22, 47, 47);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 150px auto 50px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.card {
    transition: transform 0.75s ease-in-out;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: start;
}

.overflow-container{
    display: grid;
    grid-template-columns: repeat(2, 600px);
}

.container::after {
    content: "❯";
    position: absolute;
    top: 50%;
    right: 25px;
    color: var(--second-color-darker);
    font-size: 3em;
    transform: translate(0, -50%);
    cursor: pointer;

    z-index: 3;
}

.container::before{
    content: "❮";
    position: absolute;
    top: 50%;
    left: 25px;
    color: var(--second-color-darker);
    font-size: 3em;
    transform: translate(0, -50%);
    cursor: pointer;

    z-index: 3;
}

.time-card {
    text-align: center;
    font-size: 4.7em;
    color: var(--second-color-darker);
}

.date-card {
    text-align: center;
    color: var(--second-color-darker);
    margin: 0 0 20px;
}

::selection{
    display: none;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}