* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    line-height: 1.2;
}

h2{
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

p {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

div {
    min-height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table caption {
    font-size: 1.5rem;
    font-style: italic;
    text-align: left;
    margin-bottom: 1.5rem   ;
}

table td,
table th {
    border: var(--light-gray-color) solid .2rem;
    font-size: 2rem;
    padding: 1rem;

    text-align: left;
}

form fieldset {
    margin-bottom: 5rem;
}

form input {
    background-color: var(--white);
    height: 5rem;
    border: none;
    font-size: 2.5rem;
    padding: 1rem;
}

form textarea {
    border: none;
    font-size: 2.5rem;
    padding: 1rem;
}

form p{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0;
}

form ::placeholder {
    color: var(--gray-color);
    font-size: 2.5rem;
}

form :focus {
    box-shadow: 0 0 1rem .2rem crimson;
    outline: none;
    transform: scale(1.009);
}

form button {
    font-size: 3rem;
    background-color: transparent;
    border: var(--white) .4rem solid;
    padding: 1.5rem 1rem;
    color: var(--white);
    cursor: pointer;

    transition: all 300ms ease-in-out;
}

form button:hover {
    background-color: var(--white);
    color: var(--primary-color);
}


