@media (max-width:1000px) {
    .grid-text-image {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media (max-width: 860px) {
    .grid-template {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

}

@media  (max-width: 785px) {
    .close-menu-label::after {
        display: block;
        transition: all 500ms ease-in-out;
    }

    .navigation {
        height: 0;
        width: 0;

        flex-direction: column;
        align-items: center;

        transition: all 300ms ease-in-out;
    }


    .heading {
        justify-content: center;
        flex-direction: column;

    }

    .close-menu:checked~.close-menu-label::after{
        transform: rotate(-180deg);
        content: '✕';
    }

    .close-menu:checked~.main-header {
        .navigation {
            height: 20.5rem;
            width: 11.0463rem;
        }

    }
}